# EXCUTION CONTROOL STRUCTURE

1.Implement function myBMI() that takes as input a person’s height (in inches) and weight
(in pounds) and computes the person’s Body Mass Index (BMI). The BMI formula is:
bmi =
weight ∗ 703
height2
Your functions should print the string 'Underweight' if bmi<18.5, 'Normal' if 18.5<=
bmi < 25, and Overweight if bmi >= 25.

After computing the BMI, we use a multiway if statement to decide what to print

In [60]:
def myBMI(weight, height):
    'prints BMI report'
    bmi = weight * 703 / height**2
    if bmi < 18.5:
        print('Underweight')
    elif bmi < 25:
        print('Normal')
    else: # bmi >= 25
        print('Overweight')

In [67]:
myBMI(190, 75)

Normal

In [68]:
myBMI(140, 75)

Underweight

2.Write a function named powers() that takes a positive integer n as input and prints, on the
screen, all the powers of 2 from 21 to 2n.

We need to print 21, 22, 23, . . . , 2n (i.e., 2i for all integers i from 1 to n). To iterate
over the range from 1 up to (and including) n, we use function call range(1, n+1):

In [72]:
def powers(n):
    'prints 2**i for i = 1, 2, ..., n'
    for i in range(1, n+1):
        print(2**i, end=' ')

In [73]:
powers(6)

2 4 8 16 32 64

In [ ]:
3.Write function arithmetic() that takes a list of integers as input and returns True if
they form an arithmetic sequence. (A sequence of integers is an arithmetic sequence if the
difference between consecutive items of the list is always the same.)

We need to check that the difference between adjacent list values are all the same.
One way to do this is to check that they are all equal to the difference between the first
two list items, l[0] and l[1]. So, we need to check that l[2]-l[1], l[3]-l[2], . . . ,
l[n-1]-l[n-2], where n is the size of list l, are all equal to diff = l[1] - l[0]. Or,
to put it another way, we need to check that l[i+1] - l[i] = diff for i = 1, 2, . . . ,
n 2, values obtained by iterating through range(1, len(l)-1):

In [5]:
l=[3,6,9,11,12,14,15]
def arithmetic(lst):
    '''returns True if list lst contains an arithmetic sequence,
        False otherwise'''
    if len(lst) < 2: # a sequence of length < 2 is arithmetic
        return True
    # checking that difference between successive items is equal
    # to the difference between the first two numbers
    diff = l[1] - l[0]
    for i in range(1, len(l)-1):
        if l[i+1] - l[i] != diff:
            return False
    return True

In [6]:
arithmetic([3, 6, 9, 12, 15])

False

In [3]:
arithmetic([3, 6, 9, 11, 14])

False

In [4]:
arithmetic([3])

True

4.Implement function factorial() that takes as input a nonnegative integer and returns its
factorial. The factorial of a nonnegative integer n, denoted n!, is defined in this way:
n! =

1 if n = 0
n×(n 1)×(n 2)×...×2×1 ifn > 0
So, 0! = 1, 3! = 6, and 5! = 120.

We need to multiply (accumulate) integers 1, 2, 3, . . . , n. The accumulator res is
initialized to 1, the identity for multiplication. Then we iterate over sequence 2, 3, 4, . . . ,
n and multiply res by each number in the sequence:

In [79]:
def factorial(n):
    'returns n! for input integer n'
    res = 1
    for i in range(2,n+1):
        res *= i
    return res

In [80]:
factorial(0)

1

In [81]:
factorial(3)

6

In [82]:
factorial(5)

120

In [ ]:
5. An acronym is a word formed by taking the first letters of the words in a phrase and then
making a word from them. For example, RAM is an acronym for random access memory.
Write a function acronym() that takes a phrase (i.e., a string) as input and then returns the
acronym for that phrase. Note: The acronym should be all uppercase, even if the words in
the phrase are not capitalized

In this problem we would like to iterate over the words of the phrase and accumulate
the first letter in every word. So we need to break the phrase into a list of words using the
string split() method and then iterate over the words in this list. We will add the first
letter of every word to the accumulator string res.

In [83]:
def acronym(phrase):
    'returns the acronym of the input string phrase'
    # splits phrase into a list of words
    words = phrase.split()
    # accumulate first character, as an uppercase, of every word
    res = ''
    for w in words:
        res = res + w[0].upper()
    return res

In [84]:
acronym('Random access memory')

'RAM'

In [85]:
acronym('central processing unit')

'CPU'

6.Write function divisors() that takes a positive integer n as input and returns the list of
all positive divisors of n.

Divisors of n include 1, n, and perhaps more numbers in between. To find them, we
can iterate over all integers given by range(1, n+1) and check each integer whether it is
a divisor of n.

In [87]:
def divisors(n):
    'returns the list of divisors of n'
    res = []
    for i in range(1, n+1):
        if n % i == 0:
            res.append(i)
    return res

In [88]:
divisors(1)

[1]

In [89]:
divisors(6)

[1, 2, 3, 6]

In [90]:
divisors(11)

[1, 11]

7.Write a function xmult() that takes two lists of integers as input and returns a list containing
all products of integers from the first list with the integers from the second list.

We will use the nested loop pattern to multiply every integer in the first list with
every integer in the second list. The outer for loop will iterate over the integers in the first
list. Then, for every such integer i, the inner for loop will iterate over the integers of the
second list, and each such integer is multiplied by i; the product is accumulated into a list
accumulator

In [91]:
def xmult(l1, l2):
    '''returns the list of products of items in list l1
        with items in list l2'''
    l = []
    for i in l1:
        for j in l2:
            l.append(i*j)
    return l

In [92]:
xmult([2], [1, 5])

[2, 10]

In [93]:
xmult([2, 3], [1, 5])

[2, 10, 3, 15]

In [94]:
xmult([3, 4, 1], [2, 0])

[6, 0, 8, 0, 2, 0]

In [ ]:
8.One way to sort a list of n different numbers in increasing order is to execute n 1 passes
over the numbers in the list. Each pass compares all adjacent numbers in the list and swaps
them if they are out of order. At the end of the first pass, the largest item will be the last
in the list (at index n 1). Therefore, the second pass can stop before reaching the last
element, as it is already in the right position; the second pass will place the second largest
item in the next to last position. In general, pass i will compare pairs at indexes 0 and 1, 1
and 2, 2 and 3, . . . , and i 1 and i; at the end of the pass, the ith largest item will be at
indexn i. Therefore, after pass n 1, the list will be in increasing order.
Write a function bubbleSort() that takes a list of numbers as input and sorts the list
using this approach

As discussed in the problem statement, in the first pass you need to successively compare
items at indexes 0 and 1, 1 and 2, 2 and 3, . . . , up to len(lst)-2 and len(lst)-1.
We can do this by generating the sequence of integers from 0 up to but not including
len(lst)-1.
In the second pass, we can stop the pairwise comparisons with the pair of items at
indexes len(lst)-3 and len(lst)-2, so the indexes we need in the second pass go from
0 up to but not including len(lst)-2. This suggests that we should use the outer loop
to generate the upper bounds len(lst)-1 for pass 1, len(lst)-2 for pass 2, down to 1
(when the final comparison between the first two list items is made).The inner loop implements a pass that compares adjacent list items up to items at indexes
i-1 and i and swaps improperly ordered items:

In [97]:
def bubblesort(lst):
    'sorts list lst in nondecreasing order'
    for i in range(len(lst)-2, 0, -1):
        # perform pass that ends at
        # i = len(lst)-2, len(lst)-1, ..., 0
        for j in range(i):
            # compare items at index j and j+1
            # for every j = 0, 1, ..., i-1
            if lst[j] > lst[j+1]:
                # swap numbers at index j and j+1
                lst[j], lst[j+1] = lst[j+1], lst[j]

In [98]:
lst = [3, 1, 7, 4, 9, 2, 5]

In [99]:
bubblesort(lst)

In [100]:
lst

[1, 2, 3, 4, 7, 9, 5]

In [ ]:
9.Write a function add2D() that takes two two-dimensional lists of same size (i.e., same
number of rows and columns) as input arguments and increments every entry in the first
list with the value of the corresponding entry in the second list.

 We use the nested loop pattern to generate all pairs of column and row indexes and add
up the corresponding entries:

In [101]:
def add2D(t1, t2):
    '''t1 and t2 are 2D lists with the same number of rows and
        same number of equal sized columns
        add2D increments every item t1[i][j] by t2[i][j]'''
    nrows = len(t1) # number of rows
    ncols = len(t1[0]) # number of columns
    for i in range(nrows): # for every row index i
        for j in range(ncols): # for every column index j
            t1[i][j] += t2[i][j]

In [102]:
t = [[4, 7, 2, 5], [5, 1, 9, 2], [8, 3, 6, 6]]

In [103]:
s = [[0, 1, 2, 0], [0, 1, 1, 1], [0, 1, 0, 0]]

In [104]:
add2D(t,s)

In [106]:
for row in t:
    print(row)

[4, 8, 4, 5]
[5, 2, 10, 3]
[8, 4, 6, 6]

In [ ]:
10. Write a function interest() that takes one input, a floating-point interest rate (e.g., 0.06
which corresponds to a 6% interest rate). Your function should compute and return how
long (in years) it will take for an investment to double in value. Note: The number of years
it takes for an investment to double does not depend on the value of the initial investment.

 First note that the number of years required for an investment to double in value does
not depend on the amount invested. So we can assume the original investment is $100. We
use a while loop to add the yearly interest to the investment x. The while loop condition
will check whether x < 200. What the problem asks is how many times we have executed
the while loop. To count it, we use the counter loop pattern:

In [107]:
def interest(rate):
    '''returns the number of years for investment
        to double for the given rate'''
    amount = 100 # initial account balance
    count = 0
    while amount < 200:
        # while investment not doubled in value
        count += 1 # add one more year
        amount += amount*rate # add interest
    return count

In [108]:
interest(0.07)

11

11. We start by assigning the first approximation (1) to prev and the second (2) to
current. The while loop condition is then current - prev > error. If the condition
is true, then we need to generate new value for prev and current. The value of current
becomes previous and the new current value is then previous + 1/factorial(???).
What should ??? be? In the first iteration, it should be 2, because the third approximationis the value of the second + 1
2! . In the next iteration, it should be 3, then 4, and so on. We
obtain this solution:

In [110]:
def approxE(error):
    'returns approximation of e within error'
    prev = 1 # approximation 0
    current = 2 # approximation 1
    i = 2 # index of next approximation
    while current-prev > error:
        # while difference between current and previous
        # approximation is too large
                                    # current approximation
        prev = current              # becomes previous
                                    # compute new approximation
        current = prev + 1/factorial(i) # based on index i
        i += 1 # index of next approximation
    return current

In [111]:
approxE(0.01)

2.7166666666666663

In [112]:
approxE(0.000000001)

2.7182818284467594

# EXERCISE

12. Implement function test() that takes as input one integer and prints 'Negative',
'Zero', or 'Positive' depending on its value.

In [1]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 5
Positive number

13. Read every exercise 5.14 to 5.22 and decide what loop pattern should be used in each.

14.Write function mult3() that takes as input a list of integers and prints only the
multiples of 3, one per line

In [12]:
mult3([3, 1, 6, 2, 3, 9, 7, 9, 5, 4, 5])
def mult3(lst):
    for num in lst:
        if num % 3 == 0:
            print(num, end='\n')

3
6
3
9
9

In [13]:
mult3([3, 1, 6, 2, 3, 9, 7, 9, 5, 4, 5])

3
6
3
9
9

15.Implement the function vowels() that takes as input a string and prints the indexes
of all vowels in the string. Hint: A vowel can be defined as any character in string
'aeiouAEIOU

In [18]:
test_str = "hello world"

vowels = "aeiou"

result = list(filter(lambda x: test_str[x] in vowels, range(len(test_str))))

print("The vowel indices are : " + str(result))

The vowel indices are : [1, 4, 7]

16.Implement function indexes() that takes as input a word (as a string) and a onecharacter
letter (as a string) and returns a list of indexes at which the letter occurs in the
word.

In [35]:
import numpy as np

test_str = "mississippi"

vowel_indices = np.where(np.isin(np.array(list(test_str)), np.array(list("s,i,a" ))))
vowel_indices = vowel_indices[0].tolist() 


print("The vowel indices are : " + str(vowel_indices))

The vowel indices are : [1, 2, 3, 4, 5, 6, 7, 10]

17.Write function doubles() that takes as input a list of integers and outputs the integers
in the list that are exactly twice the previous integer in the list, one per line.

In [39]:
lis = [3,0,0,1,2,3,3,3,3,6,6,5,5,4,8,9,2]

uniqueList = []
duplicateList = []

for i in lis:
	if i not in uniqueList:
		uniqueList.append(i)
	elif i not in duplicateList:
		duplicateList.append(i)

print(duplicateList)

[0, 3, 6, 5, 2]

18. Implement function four_letter() that takes as input a list of words (i.e., strings)
and returns the sublist of all four letter words in the list.

In [54]:
original_list=['dog', 'letter', 'stop', 'door', 'bus', 'dust']
def sublists(lst):

	return sublists_list

sublists_list = sublists(original_list)
print(sublists_list)

[]

NameError: name 'four_letter' is not defined